<div class="posts_wrapper">
	<ul class="posts">
		<li class="post">
			<%= image_tag "http://blogpfthumb.phinf.naver.net/20130318_125/asbubam2_1363590016426jXJu9_PNG/%C7%C1%B7%CE%C7%CA+%BB%A1%B0%A3%B6%AF%8B%AF%C0%CC%BF%F8%C7%C7%BD%BA.png?type=w161
", :height => '100%' %>
		</li>
		<li class="post">
			<%= image_tag "http://192.168.0.146:9000/system/screens/2013/4/8/755/1365397386/original.jpg", :height => '100%' %>
		</li>
		<li class="post">
			<%= image_tag "http://192.168.0.146:9000/system/photos/2013/1/21/134/original.jpg", :width => '100%' %>
		</li>
		<% (1..8).each do |index| %>
			<li class="post">
				<%= index %>
			</li>
		<% end %>
	</ul>
</div>
