<div class="posts_wrapper">
	<ul class="posts">
		<!-- sample -->
		<li class="post">
			<%= image_tag "http://192.168.0.146:9000/system/screens/2013/4/8/755/1365397386/original.jpg", :height => '100%' %>
		</li>
		<li class="post">
			<div class="thumbnail">
				<%= image_tag "http://192.168.0.146:9000/system/photos/2013/1/21/134/original.jpg", :height => '100%' %>
			</div>
		</li>
		<!-- sample end -->

		<% Post.find(:all, :order => "id desc").each do |post| %>
			<li class="post">
				<div class="created_at">
					<%= "#{time_ago_in_words(post.created_at)} ago" %>
				</div>
				<div class="content">
					<%= truncate(post.content, :length => 300).html_safe %>
				</div>
			</li>
		<% end %>
	</ul>
</div>
